<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="white-background">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <img src="assets/images/MEDI.png" alt="Logo" class="logo">
        <!-- Asegúrate de que el logo esté en la carpeta assets/images -->
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onLogin()">
          <!-- Campo de Correo o Usuario -->
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input 
              [(ngModel)]="usernameOrEmail" 
              name="usernameOrEmail" 
              type="text" 
              required>
            </ion-input>
          </ion-item>
  
          <!-- Campo de Contraseña -->
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input 
              [(ngModel)]="password" 
              name="password" 
              type="password" 
              required>
            </ion-input>
          </ion-item>
  
          <!-- Botón de inicio de sesión -->
          <ion-button expand="full" type="submit" color="primary">Iniciar sesión</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
